# Virtual environment
.venv/
__pycache__/

# System files
.DS_Store

# Environment variables
.env    

# Banco de dados vetorial gerado
db/
db_titles/
db_content/

# Documents(optional, if they are large)
# data/
evaluation_results.log