# Web Framework
fastapi
uvicorn[standard]

# RAG logic and Machine Learning
chromadb
google-generativeai
langchain-core
langchain-community
langchain
langchain-chroma
langchain-huggingface
pypdf
sentence-transformers
torch
transformers
unstructured

# Utils
beautifulsoup4
python-dotenv
requests